*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.image-hold{
    width: 100px;
    
}
.image-hold h1{ 
    margin-left: 5px;
    font-size: 30px;
    
}
main h3{ 
    text-align: center;
}
.portfolio a { 
    text-decoration: none;
}
main {
    background-color: rgb(210, 208, 208);
    height: 100vh;
    font-size: 20px;
    font-family: arial;
}

header{
    height: fit-content;
    display: flex;       
}
.mission-image img  { 
    width: 40%;
    height: auto;
}

.mission-image{
    display: flex;
    justify-content: center;
    align-items: center;

}
main .mission-image .service-image{
    padding: 40px;
    margin: 10px;
    box-shadow: 1px 1px 10px 1px white; 
}
main .mission-image .service-image :hover{
    background-color: black;
    color: aliceblue;
}

    
header a { 
    text-decoration: none;
    
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    font-family: sans-serif;
    font-size: medium;   
}
header nav ul li {
    display: inline-block;
    padding: 23px; 
    
} 
header nav ul {
    display: flex;
    justify-content: center;
}
header nav {
    width: 100%;
}

header a:hover{ 
    background-color: grey;
    color: white;
   
}


h2{
    color: black
}

footer { 
    text-align: center;
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

footer img{
    width: 40px;
    height:auto
}

main .services-hold {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px

}
.hold{
    padding:20px;
    width: 360px;
    margin: 10px;
    box-shadow: 1px 1px 5px 1px gray ;
    transition: all .5s;
    
}
.hold:hover{ transform: scale(0.8);

}
.hold h4 {
    text-align: center;
}
main {
    font-size: 14px;
}

